body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.header, .introduction, .footer {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
}

.headerlink {
    display: flex;
    justify-content: space-around;
    gap: 8px;
    margin-right: 8px;
}



